@import "tailwindcss";
@import "tw-animate-css";
@import "./docs/docs.css";
@import "./shadcn.css";
@import "./limeplay.css";

:root {
  --page-padding-inline: 1rem;
  --page-padding: max(env(safe-area-inset-left), var(--page-padding-inline))
    max(env(safe-area-inset-right), var(--page-padding-inline));
}

@theme inline {
  --animate-blur-fade-slide-in: blur-fade-slide-in 0.6s ease-out forwards;
  --padding-page: var(--page-padding);

  @keyframes blur-fade-slide-in {
    0% {
      opacity: 0;
      filter: blur(10px);
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility animate-blur-fade-slide-in {
  animation: blur-fade-slide-in 0.6s ease-out forwards;
}

@utility focus-ring {
  @apply focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary/50
}