@import "tailwindcss";
@import "tw-animate-css";
@import "./docs/docs.css";

@custom-variant dark (&: is(.dark *));

:root {
  --safe-area-inset-left: max(env(safe-area-inset-left), 24px);
  --safe-area-inset-right: max(env(safe-area-inset-right), 24px);
  --page-padding-inline: 24px;
  --page-padding-left: max(
    var(--safe-area-inset-left),
    var(--page-padding-inline)
  );
  --page-padding-right: max(
    var(--safe-area-inset-right),
    var(--page-padding-inline)
  );
  --radius: 0.625rem;
  --speed-regularTransition: 150ms;
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --limeplay-controls: oklch(0.205 0 0);

  --lp-background: oklch(1 0 0 / 16%);
  --lp-timeline-track-height: 4px;
  --lp-timeline-track-height-active: 7px;

  --lp-transition-speed-regular: 150ms;
  --lp-transition-ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

  --lp-outline-color: oklch(0.922 0 0 / 0.5);
}

html {
  scroll-behavior: smooth;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --limeplay-controls: oklch(0.205 0 0);

  --lp-background: oklch(1 0 0 / 16%);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-lp-background: var(--lp-background);
  --color-outline: var(--lp-outline-color);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility focus-area {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    inset: calc(var(--y) * 1px) calc(var(--x) * 1px);
  }
}

@utility focus-area-x-* {
  --x: --value(number);
}

@utility focus-area-y-* {
  --y: --value(number);
}

@utility -focus-area-x-* {
  --x: --value(number) * -1;
}

@utility -focus-area-y-* {
  --y: --value(number) * -1;
}
