@import "tailwindcss";

:root {
  --lp-timeline-track-height: 4px;
  --lp-timeline-track-height-active: 7px;
  --lp-transition-ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --background-image-lp-controls-fade: linear-gradient(
    to bottom,
    hsla(0, 0%, 91%, 0) 0%,
    hsla(0, 0%, 91%, 0.002) 10.6%,
    hsla(0, 0%, 91%, 0.008) 19.7%,
    hsla(0, 0%, 91%, 0.019) 27.6%,
    hsla(0, 0%, 91%, 0.035) 34.4%,
    hsla(0, 0%, 91%, 0.057) 40.4%,
    hsla(0, 0%, 91%, 0.086) 45.7%,
    hsla(0, 0%, 91%, 0.122) 50.6%,
    hsla(0, 0%, 91%, 0.165) 55.3%,
    hsla(0, 0%, 91%, 0.217) 60%,
    hsla(0, 0%, 91%, 0.278) 65%,
    hsla(0, 0%, 91%, 0.349) 70.3%,
    hsla(0, 0%, 91%, 0.43) 76.3%,
    hsla(0, 0%, 91%, 0.522) 83.1%,
    hsla(0, 0%, 91%, 0.625) 90.9%,
    hsla(0, 0%, 91%, 0.74) 100%
  );
}

.dark {
  --background-image-lp-controls-fade: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.009) 8.1%,
    hsla(0, 0%, 0%, 0.035) 15.5%,
    hsla(0, 0%, 0%, 0.074) 22.5%,
    hsla(0, 0%, 0%, 0.125) 29%,
    hsla(0, 0%, 0%, 0.184) 35.3%,
    hsla(0, 0%, 0%, 0.25) 41.2%,
    hsla(0, 0%, 0%, 0.32) 47.1%,
    hsla(0, 0%, 0%, 0.39) 52.9%,
    hsla(0, 0%, 0%, 0.46) 58.8%,
    hsla(0, 0%, 0%, 0.526) 64.7%,
    hsla(0, 0%, 0%, 0.585) 71%,
    hsla(0, 0%, 0%, 0.636) 77.5%,
    hsla(0, 0%, 0%, 0.675) 84.5%,
    hsla(0, 0%, 0%, 0.701) 91.9%,
    hsla(0, 0%, 0%, 0.71) 100%
  );
}

@theme inline {
  --ease-out-quad: var(--lp-transition-ease-out-quad);
  --background-image-lp-controls-fade: var(--background-image-lp-controls-fade);
}

@utility focus-area {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    inset: calc(var(--y) * 1px) calc(var(--x) * 1px);
  }
}

@utility focus-area-x-* {
  --x: --value(number);
}

@utility focus-area-y-* {
  --y: --value(number);
}

@utility -focus-area-x-* {
  --x: --value(number) * -1;
}

@utility -focus-area-y-* {
  --y: --value(number) * -1;
}
