.containerBackground {
  contain: strict;
  isolation: isolate;

  --mask-visible: rgba(0, 0, 0, 1);
  --mask-invisible: rgba(0, 0, 0, 0);
  --mask-ease: rgba(0, 0, 0, 0.2);
  --horizontal-size: 20%;
  --vertical-size: 160px;
  --mask-bottom: linear-gradient(
    to bottom,
    var(--mask-visible) calc(100% - var(--vertical-size)),
    var(--mask-ease) calc(100% - (var(--vertical-size) / 4)),
    var(--mask-invisible) 100%
  );
  --mask-right: linear-gradient(
    to right,
    var(--mask-invisible),
    var(--mask-visible) var(--horizontal-size),
    var(--mask-visible) calc(100% - var(--horizontal-size)),
    var(--mask-invisible) 100%
  );
  mask-image: var(--mask-bottom);
  mask-composite: intersect;
}
