body {
  margin: 0;
}

/* spin animation */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* live fade in fade out animation */

.live-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  height: 24px;
  margin: 0;
}

.red-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.8;
  background-color: red;
  -webkit-animation: live-dot 2s infinite;
  -o-animation: live-dot 2s infinite;
  animation: live-dot 2s infinite;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: live-dot;
}

@keyframes live-dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.live-text {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.4px;
  margin-left: 10px;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* change opactiy and transform button on hover */

.player-control:hover {
  opacity: 1;
  transform: scale(1.05);
}
